*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#eee;
}

/* Encabezado */
.header{
    background:#2d6a4f;
    color:white;
    padding:10px;
    text-align:center;
    font-size:16px;
}

/* Contenedor */
.contenedor-productos{
    width:100%;
    max-width:900px;
    margin:20px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
}

/* Tarjeta */
.card{
    width:180px;              /* TAMAÑO FIJO */
    background:white;
    border:1px solid #ccc;
    border-radius:6px;
    padding:10px;
    margin:10px;
    text-align:center;
}

/* IMAGEN MUY PEQUEÑA */
.card img{
    width:60px;
    height:60px;
    object-fit:contain;
    display:block;
    margin:0 auto 5px auto;
}

/* Texto */
.card h3{
    font-size:13px;
    margin:5px 0;
}

.precio{
    font-size:13px;
    font-weight:bold;
    color:#e63946;
}

.stock{
    font-size:12px;
    color:#555;
    margin-bottom:6px;
}

/* Botón */
.card button{
    width:100%;
    padding:5px;
    font-size:12px;
    background:#2d6a4f;
    color:white;
    border:none;
    border-radius:4px;
    cursor:pointer;
}

/* Volver */
.volver{
    display:block;
    width:140px;
    margin:20px auto;
    text-align:center;
    background:#40916c;
    color:white;
    padding:8px;
    text-decoration:none;
    border-radius:4px;
}
